{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="my-4 text-center">
            {% if object %}Изменение пользователя{% else %}Регистрация{% endif %}
        </h1>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-2">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success w-100">
                {% if object %}Изменить{% else %}Зарегистрировать{% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}